<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @buyer.rating %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @buyer.profile %>
</p>

<p>
  <strong>User:</strong>
  <%= @buyer.user %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
